<main class="main">
  <h1>Bienvenido a Angular Standalone</h1>
  <div><app-componente1></app-componente1></div>
  <div><app-ejercicio1 [nombre]="'Alba'"></app-ejercicio1></div>
  <div><app-ejercicio2></app-ejercicio2></div>
  <div><app-ejercicio3></app-ejercicio3></div>
  <div><app-ejercicio4></app-ejercicio4></div>
  <div><app-ejercicio5 (comentarioEnviado)="manejarComentarioEnviado($event)"></app-ejercicio5></div>
  <div>
    <h2>Comentarios Recibidos:</h2>
    <ul>
      <li *ngFor="let comentario of comentariosRecibidos">{{ comentario }}</li>
    </ul>
  </div>
</main>
